<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blogosfera | Inicio</title>

    <!--External fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coustard:900" rel="stylesheet">

    <!-- External CSS-->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="assets/ionicons/css/ionicons.min.css">

    <!--Internal CSS-->
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div class="site-wrapper">
    <div class="container p-0">
        <header>
            <section id="header-area">
                <div class="header-text">
                    <div>
                        <h1>BLOGOSFERA</h1>
                        <h2>CUBARTE</h2>
                    </div>
                </div>
            </section>
        </header>
    </div>
    <section id="navbar_sticky">
        <nav class="navbar navbar-expand-lg navbar-light bg-white container">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="ion-navicon-round"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>

            </div>
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#searchModal">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </nav>
    </section>
    <div id="container-site" class="container p-0 mt-5">
        <div id="scrollingDiv" class="d-flex flex-row justify-content-center flex-lg-column">
            <a class="ion-social-facebook mb-0 mr-5 mb-lg-2 mr-lg-0" href="#"></a>
            <a class="ion-social-twitter mb-0 mr-5 mb-lg-2 mr-lg-0" href="#"></a>
            <a class="ion-social-googleplus mb-0 mr-5 mb-lg-2 mr-lg-0" href="#"></a>
            <a class="ion-social-pinterest mb-0 mr-5 mb-lg-2 mr-lg-0" href="#"></a>
            <a class="ion-social-instagram-outline" href="#"></a>
        </div>
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="header-text">
                            <div>
                                <h1>BLOGOSFERA</h1>
                                <h2>CUBARTE</h2>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-lg border-dark" placeholder="Buscar..."
                                   aria-label="Buscar..." aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-outline-dark" type="button"><i
                                        class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <content>
            <div class="d-flex flex-column flex-lg-row pb-5 border-b no-gutters">
                <div class="col-lg-9 left-side mb-3">
                    <div class="article pb-4 pl-3 pr-3 pl-md-4 pr-md-4">
                        <div class="article-header">
                            <h2 class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                                aspernatur cum
                                distinctio est eveniet excepturi impedit maiores, nam repellat rerum.</h2>
                        </div>
                        <div class="d-flex flex-wrap no-gutters article-content">
                            <nav aria-label="breadcrumb" class="col-9 col-sm-8 col-md-9">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Perez Perez</a></li>
                                    <li class="breadcrumb-item"><a href="#"> El lector inquisitivo</a></li>
                                    <li class="breadcrumb-item"><a href="#">Patrimonio</a></li>
                                    <li class="breadcrumb-item active">2 de Octubre de 2018</li>
                                </ol>
                            </nav>
                            <div class="ml-auto mt-1 align-items-center">
                                <button id="comment-btn" type="button"
                                        class="btn btn-primary comment-btn comment-btn-number">
                                    <span class="comment-btn-text">Comentarios </span><span
                                        class="badge badge-light">4</span>
                                </button>
                            </div>
                            <img class="img-fluid col-12 mb-4 mb-md-5" src="img/slidder2.jpg" alt="">
                            <p class="article-text col-12 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Accusantium alias
                                architecto assumenda
                                consequuntur cum distinctio dolorem eos est ex exercitationem explicabo fugiat id ipsa
                                ipsum
                                minima nam nisi obcaecati officia porro praesentium quas quia rem saepe soluta
                                temporibus
                                veniam, vero! Commodi dolorem eos exercitationem maiores nemo ratione soluta totam
                                voluptatum?
                                Animi eius
                                illum
                                inventore, odio reiciendis repudiandae sint soluta. Aperiam blanditiis corporis et
                                exercitationem
                                facere hic iusto laborum laudantium, molestiae nisi nostrum odio, possimus ratione rerum
                                soluta
                                sunt
                                totam veniam voluptatibus. Beatae corporis debitis dolorum quae sit. Adipisci aperiam
                                aspernatur
                                at
                                blanditiis commodi consequatur dolore esse explicabo iste, obcaecati omnis placeat,
                                porro qui
                                quia
                                recusandae reprehenderit veniam vero voluptates! Consequuntur cum cumque delectus
                                deserunt dicta
                                dignissimos dolor dolore dolores dolorum ea earum ex expedita explicabo, fugit hic illo
                                iste
                                itaque
                                maiores, maxime minus molestias nisi obcaecati odit omnis perferendis praesentium quasi,
                                qui
                                quod
                                rem sunt tenetur unde vitae voluptates? A aliquam consectetur, cumque debitis dicta
                                dignissimos
                                dolore dolorem eaque earum facere facilis impedit ipsa magni nesciunt odio pariatur
                                praesentium
                                quae
                                quos reiciendis rem repellat rerum vero voluptas. Blanditiis dolorum nisi obcaecati
                                porro ut.
                                Alias
                                amet animi aspernatur autem commodi delectus dicta distinctio doloremque ea eos facilis
                                incidunt
                                ipsam iure laboriosam maxime minus non quae quos ratione soluta suscipit tempore
                                temporibus,
                                vel. Ad
                                adipisci aliquam amet animi aspernatur atque consectetur consequatur consequuntur
                                debitis
                                deleniti
                                dolorum eius facilis harum illum inventore iste itaque labore magnam mollitia natus nemo
                                neque
                                nesciunt nostrum, nulla odio optio perspiciatis porro provident quam qui quia quis quo
                                recusandae
                                sapiente sed vitae voluptate. Accusamus, ad alias amet architecto culpa, cupiditate
                                dignissimos
                                esse
                                expedita fugiat harum id ipsa labore laboriosam magni maiores molestias nam odio quidem
                                quod
                                repudiandae similique suscipit temporibus tenetur vel vitae voluptate voluptatum! Amet
                                atque est
                                fugiat laborum molestiae pariatur porro quia quibusdam quo, rerum. Fugit.<br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti deserunt fugiat
                                laudantium
                                magnam
                                minima repudiandae sapiente. Asperiores doloribus, esse explicabo iusto minima mollitia
                                neque,
                                nobis
                                porro quibusdam repellendus reprehenderit, sint voluptatum. Animi delectus earum eos,
                                est ex
                                harum
                                hic, molestiae nihil nobis nostrum numquam perferendis quae, quisquam rem voluptatem. Ab
                                ad
                                alias
                                architecto consectetur delectus, dignissimos doloribus dolorum ducimus error facere fuga
                                id iure
                                laborum maiores minima nobis odit optio perspiciatis quam quod reiciendis rem repellat
                                reprehenderit
                                sed similique sunt voluptates! Adipisci aliquid architecto debitis deserunt dolorem
                                ipsam
                                laborum
                                modi molestiae mollitia, neque nisi qui, quidem rem similique sit, totam.<br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ea est illum itaque
                                laudantium
                                libero odio quibusdam quo, totam ullam! Est et facere in laudantium nemo officiis
                                tempore
                                voluptas?
                                Beatae dignissimos expedita recusandae totam vitae. Doloribus ipsa minus rerum
                                temporibus.
                            </p>
                            <p class="keyword col-12 pt-3">Etiquetas: Cuba, patrimonio, campo, popular</p>
                        </div>
                    </div>
                    <div class="comment-section pb-5 pl-3 pr-3 pl-md-4 pr-md-4">
                        <h5 class="pb-4 pt-4 comment-title">4 Comentarios</h5>
                        <div class="d-flex flex-column comment-element pt-3 pb-4">
                            <div class="d-flex no-gutters comment-element-spec pb-3">
                                <div class="d-flex justify-content-center align-items-center col-1">
                                    <span class="ion-android-person"></span>
                                </div>
                                <div class="d-flex flex-column col pl-3">
                                    <h5>
                                        <a class="comment-element-autor pt-1" href="">Perez Perez</a>
                                    </h5>
                                    <p class="comment-element-fecha pt-1">10, 2018 a las 12:30</p>
                                </div>
                            </div>
                            <div class="comment-element-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid assumenda atque
                                    culpa dicta eligendi et eum fuga fugit incidunt itaque laudantium maiores molestiae
                                    necessitatibus, placeat, quae recusandae saepe sequi tempore temporibus ut vel velit
                                    vero. Ducimus earum eius ex, fugit hic ipsa ipsam modi neque nisi nostrum optio
                                    pariatur quidem quos sunt tenetur velit, vitae voluptate! Accusamus aspernatur
                                    blanditiis ex explicabo facere fugit inventore laboriosam libero necessitatibus
                                    neque nihil nulla porro praesentium, provident sequi, sint soluta suscipit
                                    voluptatum. Cum cumque eos voluptates. Asperiores aspernatur atque dolore, hic minus
                                    molestias, nam odit perferendis placeat, quae quaerat quam quidem quod tempore!</p>
                            </div>
                        </div>
                        <div class="d-flex flex-column comment-element pt-3 pb-4">
                            <div class="d-flex no-gutters comment-element-spec pb-3">
                                <div class="d-flex justify-content-center align-items-center col-1">
                                    <span class="ion-android-person"></span>
                                </div>
                                <div class="d-flex flex-column col pl-3">
                                    <h5>
                                        <a class="comment-element-autor pt-1" href="">Perez Perez</a>
                                    </h5>
                                    <p class="comment-element-fecha pt-1">10, 2018 a las 12:30</p>
                                </div>
                            </div>
                            <div class="comment-element-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid assumenda atque
                                    culpa dicta eligendi et eum fuga fugit incidunt itaque laudantium maiores molestiae
                                    necessitatibus, placeat, quae recusandae saepe sequi tempore temporibus ut vel velit
                                    vero. Ducimus earum eius ex, fugit hic ipsa ipsam modi neque nisi nostrum optio
                                    pariatur quidem quos sunt tenetur velit, vitae voluptate! Accusamus aspernatur
                                    blanditiis ex explicabo facere fugit inventore laboriosam libero necessitatibus
                                    neque nihil nulla porro praesentium, provident sequi, sint soluta suscipit
                                    voluptatum. Cum cumque eos voluptates. Asperiores aspernatur atque dolore, hic minus
                                    molestias, nam odit perferendis placeat, quae quaerat quam quidem quod tempore!</p>
                            </div>
                        </div>
                        <div class="d-flex flex-column comment-element pt-3 pb-4">
                            <div class="d-flex no-gutters comment-element-spec pb-3">
                                <div class="d-flex justify-content-center align-items-center col-1">
                                    <span class="ion-android-person"></span>
                                </div>
                                <div class="d-flex flex-column col pl-3">
                                    <h5>
                                        <a class="comment-element-autor pt-1" href="">Perez Perez</a>
                                    </h5>
                                    <p class="comment-element-fecha pt-1">10, 2018 a las 12:30</p>
                                </div>
                            </div>
                            <div class="comment-element-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid assumenda atque
                                    culpa dicta eligendi et eum fuga fugit incidunt itaque laudantium maiores molestiae
                                    necessitatibus, placeat, quae recusandae saepe sequi tempore temporibus ut vel velit
                                    vero. Ducimus earum eius ex, fugit hic ipsa ipsam modi neque nisi nostrum optio
                                    pariatur quidem quos sunt tenetur velit, vitae voluptate! Accusamus aspernatur
                                    blanditiis ex explicabo facere fugit inventore laboriosam libero necessitatibus
                                    neque nihil nulla porro praesentium, provident sequi, sint soluta suscipit
                                    voluptatum. Cum cumque eos voluptates. Asperiores aspernatur atque dolore, hic minus
                                    molestias, nam odit perferendis placeat, quae quaerat quam quidem quod tempore!</p>
                            </div>
                        </div>
                        <div class="d-flex flex-column comment-element pt-3">
                            <div class="d-flex no-gutters comment-element-spec pb-3">
                                <div class="d-flex justify-content-center align-items-center col-1">
                                    <span class="ion-android-person"></span>
                                </div>
                                <div class="d-flex flex-column col pl-3">
                                    <h5>
                                        <a class="comment-element-autor pt-1" href="">Perez Perez</a>
                                    </h5>
                                    <p class="comment-element-fecha pt-1">10, 2018 a las 12:30</p>
                                </div>
                            </div>
                            <div class="comment-element-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid assumenda atque
                                    culpa dicta eligendi et eum fuga fugit incidunt itaque laudantium maiores molestiae
                                    necessitatibus, placeat, quae recusandae saepe sequi tempore temporibus ut vel velit
                                    vero. Ducimus earum eius ex, fugit hic ipsa ipsam modi neque nisi nostrum optio
                                    pariatur quidem quos sunt tenetur velit, vitae voluptate! Accusamus aspernatur
                                    blanditiis ex explicabo facere fugit inventore laboriosam libero necessitatibus
                                    neque nihil nulla porro praesentium, provident sequi, sint soluta suscipit
                                    voluptatum. Cum cumque eos voluptates. Asperiores aspernatur atque dolore, hic minus
                                    molestias, nam odit perferendis placeat, quae quaerat quam quidem quod tempore!</p>
                            </div>
                        </div>
                    </div>
                    <form class="leave-comment-section pb-5 pl-3 pr-3 pl-md-4 pr-md-4">
                        <h5 class="pb-4 pt-3 ">Dejar comentario</h5>
                        <div class="comment-form d-flex flex-wrap">
                            <div class="input-group textarea-comment col-12 mb-4 p-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Mensaje</span>
                                </div>
                                <textarea class="form-control" aria-label="Mensaje"></textarea>
                            </div>
                            <input type="text" class="form-control name-comment col-12 col-md mb-4 mr-0 mr-sm-2"
                                   placeholder="&#xf3a0  Nombre"
                                   style="font-family:Arial, Ionicons" aria-label="Nombre">
                            <input type="email" class="form-control email-comment col-12 col-md mb-4"
                                   placeholder="&#xf132;  Correo"
                                   style="font-family:Arial, Ionicons" aria-label="Email">
                            <button type="submit" class="btn btn-primary comment-btn col-12">Publicar</button>
                        </div>
                    </form>
                    <div class="headline-section m-0 list">
                        <div>
                            <h3>Artículos Relacionados</h3>
                        </div>
                    </div>
                    <div class="d-flex flex-column p-3 pt-4 list-content">
                        <div class="d-flex flex-column flex-sm-row no-gutters mb-3 list-element">
                            <div class="col-sm-5 col-xl-4">
                                <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg" alt=""></a>
                            </div>
                            <div class="d-flex flex-column list-element-text ml-3 mr-3 mt-2 mb-2">
                                <h5><a href="">Cosita. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
                                    dolorem id
                                    ipsam molestiae nihil quae recusandae unde ut vitae voluptatibus?</a></h5>
                                <h6><a class="list-element-autor" href="">Perez Perez</a><span
                                        class="divider">  |  </span> <span class="list-element-date">25-02-2018</span>
                                </h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Consequatur
                                    deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                    quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aut dolores
                                    eius eos error et hic illo quae sequi! Ab, aliquam architecto assumenda at atque
                                    debitis dignissimos dolorem eius esse fuga harum maxime, nisi odio quas quos
                                    similique tempore temporibus ut velit veniam. Alias aliquam commodi corporis debitis
                                    ea eum, eveniet ex illum incidunt ipsam iste laudantium maiores minus, nihil
                                    perspiciatis rem similique voluptate voluptates. Asperiores deleniti harum illo
                                    porro? Assumenda culpa cumque delectus deserunt dolore dolorum earum eos esse
                                    explicabo inventore iste laboriosam nisi non pariatur perspiciatis quae quaerat quia
                                    quibusdam quos recusandae repellat sequi unde, veritatis vitae.</p>
                                <a href="#" class="btn ml-auto">Leer más</a>
                            </div>
                        </div>
                        <div class="d-flex flex-column flex-sm-row no-gutters mb-3 list-element">
                            <div class="col-sm-5 col-xl-4">
                                <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg" alt=""></a>
                            </div>
                            <div class="d-flex flex-column list-element-text ml-3 mr-3 mt-2 mb-2">
                                <h5><a href="">Cosita. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
                                    dolorem id
                                    ipsam molestiae nihil quae recusandae unde ut vitae voluptatibus?</a></h5>
                                <h6><a class="list-element-autor" href="">Perez Perez</a><span
                                        class="divider">  |  </span> <span class="list-element-date">25-02-2018</span>
                                </h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Consequatur
                                    deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                    quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aut dolores
                                    eius eos error et hic illo quae sequi! Ab, aliquam architecto assumenda at atque
                                    debitis dignissimos dolorem eius esse fuga harum maxime, nisi odio quas quos
                                    similique tempore temporibus ut velit veniam. Alias aliquam commodi corporis debitis
                                    ea eum, eveniet ex illum incidunt ipsam iste laudantium maiores minus, nihil
                                    perspiciatis rem similique voluptate voluptates. Asperiores deleniti harum illo
                                    porro? Assumenda culpa cumque delectus deserunt dolore dolorum earum eos esse
                                    explicabo inventore iste laboriosam nisi non pariatur perspiciatis quae quaerat quia
                                    quibusdam quos recusandae repellat sequi unde, veritatis vitae.</p>
                                <a href="#" class="btn ml-auto">Leer más</a>
                            </div>
                        </div>
                        <div class="d-flex flex-column flex-sm-row no-gutters mb-3 list-element">
                            <div class="col-sm-5 col-xl-4">
                                <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg" alt=""></a>
                            </div>
                            <div class="d-flex flex-column list-element-text ml-3 mr-3 mt-2 mb-2">
                                <h5><a href="">Cosita. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
                                    dolorem id
                                    ipsam molestiae nihil quae recusandae unde ut vitae voluptatibus?</a></h5>
                                <h6><a class="list-element-autor" href="">Perez Perez</a><span
                                        class="divider">  |  </span> <span class="list-element-date">25-02-2018</span>
                                </h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Consequatur
                                    deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                    quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aut dolores
                                    eius eos error et hic illo quae sequi! Ab, aliquam architecto assumenda at atque
                                    debitis dignissimos dolorem eius esse fuga harum maxime, nisi odio quas quos
                                    similique tempore temporibus ut velit veniam. Alias aliquam commodi corporis debitis
                                    ea eum, eveniet ex illum incidunt ipsam iste laudantium maiores minus, nihil
                                    perspiciatis rem similique voluptate voluptates. Asperiores deleniti harum illo
                                    porro? Assumenda culpa cumque delectus deserunt dolore dolorum earum eos esse
                                    explicabo inventore iste laboriosam nisi non pariatur perspiciatis quae quaerat quia
                                    quibusdam quos recusandae repellat sequi unde, veritatis vitae.</p>
                                <a href="#" class="btn ml-auto">Leer más</a>
                            </div>
                        </div>
                        <div class="d-flex flex-column flex-sm-row no-gutters mb-3 list-element">
                            <div class="col-sm-5 col-xl-4">
                                <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg" alt=""></a>
                            </div>
                            <div class="d-flex flex-column list-element-text ml-3 mr-3 mt-2 mb-2">
                                <h5><a href="">Cosita. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
                                    dolorem id
                                    ipsam molestiae nihil quae recusandae unde ut vitae voluptatibus?</a></h5>
                                <h6><a class="list-element-autor" href="">Perez Perez</a><span
                                        class="divider">  |  </span> <span class="list-element-date">25-02-2018</span>
                                </h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Consequatur
                                    deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                    quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aut dolores
                                    eius eos error et hic illo quae sequi! Ab, aliquam architecto assumenda at atque
                                    debitis dignissimos dolorem eius esse fuga harum maxime, nisi odio quas quos
                                    similique tempore temporibus ut velit veniam. Alias aliquam commodi corporis debitis
                                    ea eum, eveniet ex illum incidunt ipsam iste laudantium maiores minus, nihil
                                    perspiciatis rem similique voluptate voluptates. Asperiores deleniti harum illo
                                    porro? Assumenda culpa cumque delectus deserunt dolore dolorum earum eos esse
                                    explicabo inventore iste laboriosam nisi non pariatur perspiciatis quae quaerat quia
                                    quibusdam quos recusandae repellat sequi unde, veritatis vitae.</p>
                                <a href="#" class="btn ml-auto">Leer más</a>
                            </div>
                        </div>
                        <div class="d-flex flex-column flex-sm-row no-gutters mb-3 list-element">
                            <div class="col-sm-5 col-xl-4">
                                <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg" alt=""></a>
                            </div>
                            <div class="d-flex flex-column list-element-text ml-3 mr-3 mt-2 mb-2">
                                <h5><a href="">Cosita. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
                                    dolorem id
                                    ipsam molestiae nihil quae recusandae unde ut vitae voluptatibus?</a></h5>
                                <h6><a class="list-element-autor" href="">Perez Perez</a><span
                                        class="divider">  |  </span> <span class="list-element-date">25-02-2018</span>
                                </h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Consequatur
                                    deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                    quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aut dolores
                                    eius eos error et hic illo quae sequi! Ab, aliquam architecto assumenda at atque
                                    debitis dignissimos dolorem eius esse fuga harum maxime, nisi odio quas quos
                                    similique tempore temporibus ut velit veniam. Alias aliquam commodi corporis debitis
                                    ea eum, eveniet ex illum incidunt ipsam iste laudantium maiores minus, nihil
                                    perspiciatis rem similique voluptate voluptates. Asperiores deleniti harum illo
                                    porro? Assumenda culpa cumque delectus deserunt dolore dolorum earum eos esse
                                    explicabo inventore iste laboriosam nisi non pariatur perspiciatis quae quaerat quia
                                    quibusdam quos recusandae repellat sequi unde, veritatis vitae.</p>
                                <a href="#" class="btn ml-auto">Leer más</a>
                            </div>
                        </div>
                        <div class="d-flex flex-column flex-sm-row no-gutters mb-3 list-element">
                            <div class="col-sm-5 col-xl-4">
                                <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg" alt=""></a>
                            </div>
                            <div class="d-flex flex-column list-element-text ml-3 mr-3 mt-2 mb-2">
                                <h5><a href="">Cosita. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
                                    dolorem id
                                    ipsam molestiae nihil quae recusandae unde ut vitae voluptatibus?</a></h5>
                                <h6><a class="list-element-autor" href="">Perez Perez</a><span
                                        class="divider">  |  </span> <span class="list-element-date">25-02-2018</span>
                                </h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Consequatur
                                    deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                    quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aut dolores
                                    eius eos error et hic illo quae sequi! Ab, aliquam architecto assumenda at atque
                                    debitis dignissimos dolorem eius esse fuga harum maxime, nisi odio quas quos
                                    similique tempore temporibus ut velit veniam. Alias aliquam commodi corporis debitis
                                    ea eum, eveniet ex illum incidunt ipsam iste laudantium maiores minus, nihil
                                    perspiciatis rem similique voluptate voluptates. Asperiores deleniti harum illo
                                    porro? Assumenda culpa cumque delectus deserunt dolore dolorum earum eos esse
                                    explicabo inventore iste laboriosam nisi non pariatur perspiciatis quae quaerat quia
                                    quibusdam quos recusandae repellat sequi unde, veritatis vitae.</p>
                                <a href="#" class="btn ml-auto">Leer más</a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center"><h5><a href="#">Ver todos</a></h5></div>
                    </div>

                </div>
                <div class="col-lg-3 pl-lg-3">
                    <div class="d-flex flex-column flex-sm-wrap-reverse flex-lg-nowrap right-side">
                        <div class="h-ad col-12 col-sm-6 col-lg-12 pr-2 pl-2 pr-sm-0 pl-lg-0">
                            <a href="#">
                                <img src="img/prioridades.jpg" alt="">
                            </a>
                        </div>
                        <div class="h-ad col-12 col-sm-6 col-lg-12 pr-2 pl-2 pr-sm-0 pl-lg-0">
                            <a href="#">
                                <img src="img/prioridades.jpg" alt="">
                            </a>
                        </div>
                        <div class="right-info order-sm-last order-lg-0 col-12 col-sm-6 col-lg-12">
                            <div class="mb-4">
                                <h6 class="text-center">Actualidad</h6>
                            </div>
                            <div>
                                <div class="d-flex no-gutters mb-3">
                                    <div class="col-5">
                                        <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg"
                                                                          alt=""></a>
                                    </div>
                                    <div class="d-flex col-lg align-items-center pl-3 pl-sm-2 right-info-text">
                                        <p class="align-self-lg-center"><a href="">Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit.</a></p>
                                    </div>
                                </div>
                                <div class="d-flex no-gutters mb-3">
                                    <div class="col-5">
                                        <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg"
                                                                          alt=""></a>
                                    </div>
                                    <div class="d-flex col-lg align-items-center pl-3 pl-sm-2 right-info-text">
                                        <p class="align-self-lg-center"><a href="">Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit.</a></p>
                                    </div>
                                </div>
                                <div class="d-flex no-gutters mb-3">
                                    <div class="col-5">
                                        <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg"
                                                                          alt=""></a>
                                    </div>
                                    <div class="d-flex col-lg align-items-center pl-3 pl-sm-2 right-info-text">
                                        <p class="align-self-lg-center"><a href="">Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit.</a></p>
                                    </div>
                                </div>
                                <div class="d-flex no-gutters mb-3">
                                    <div class="col-5">
                                        <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg"
                                                                          alt=""></a>
                                    </div>
                                    <div class="d-flex col-lg align-items-center pl-3 pl-sm-2 right-info-text">
                                        <p class="align-self-lg-center"><a href="">Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit.</a></p>
                                    </div>
                                </div>
                                <div class="d-flex no-gutters">
                                    <div class="col-5">
                                        <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg"
                                                                          alt=""></a>
                                    </div>
                                    <div class="d-flex col-lg align-items-center pl-3 pl-sm-2 right-info-text">
                                        <p class="align-self-lg-center"><a href="">Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="v-ad col-12 col-sm-6 col-lg-12 pr-2 pl-2 pr-sm-0 pl-lg-0">
                            <a href="#">
                                <img src="img/announce-v-3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </content>
        <footer class="d-flex flex-column no-gutters">
            <div class="d-flex flex-wrap flex-row content-footer no-gutters justify-content-center justify-content-sm-start">
                <div class="col-10 col-sm-6 order col-lg-3 no-gutters own">
                    <h6>CUBARTE</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quam quas quibusdam voluptate
                        voluptatem.</p>
                    <ul>
                        <li class="mr-4"><a class="ion-social-facebook" href="#"></a></li>
                        <li class="mr-4"><a class="ion-social-twitter" href="#"></a></li>
                        <li class="mr-4"><a class="ion-social-googleplus" href="#"></a></li>
                        <li class="mr-4"><a class="ion-social-pinterest" href="#"></a></li>
                        <li><a class="ion-social-instagram-outline" href="#"></a></li>
                    </ul>
                </div>
                <div class="col-10 col-sm-6 order-sm-1 col-lg-3 order-lg-0 no-gutters news">
                    <h6>NOTICIAS</h6>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, saepe?</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio et facere hic nesciunt
                            nisi tenetur!
                        </li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem consectetur delectus
                            dicta enim exercitationem fugit hic, incidunt perspiciatis voluptate!
                        </li>
                    </ul>
                </div>
                <div class="col-10 col-sm-6 col-lg-3 no-gutters things">
                    <h6>COSAS</h6>
                    <a href="">Blogs</a>
                    <a href="">Cubarte</a>
                    <a href="">Musica</a>
                    <a href="">Teatro</a>
                    <a href="">Danza</a>
                    <a href="">Cine</a>
                    <a href="">Escuelas</a>
                    <a href="">Diseño</a>
                    <a href="">Cultura</a>
                </div>
                <div class="col-10 col-sm-6 order-sm-1 col-lg-3 order-lg-0 d-flex flex-wrap justify-content-center col no-gutters imagenes">
                    <div class="img-container m-2 mt-0">
                        <a href="#">
                            <img class="img-responsive img-footer" src="img/announce-h-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="img-container m-2 mt-0">
                        <a href="#">
                            <img class="img-responsive img-footer" src="img/announce-h-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="img-container m-2 mt-0">
                        <a href="#">
                            <img class="img-responsive img-footer" src="img/announce-h-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="img-container m-2 mt-0">
                        <a href="#">
                            <img class="img-responsive img-footer" src="img/announce-h-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="img-container m-2 mt-0">
                        <a href="#">
                            <img class="img-responsive img-footer" src="img/announce-h-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="img-container m-2 mt-0">
                        <a href="#">
                            <img class="img-responsive img-footer" src="img/announce-h-1.jpg" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <div class="copyright">
                <div class="cr-left">
                    <p>&copy; 2018</p>
                </div>
                <div class="cr-right">
                    <p>Diseñado por Cubarte</p>
                </div>
            </div>
        </footer>
    </div>
</div>

<!--External JS-->
<script src="assets/jquery/jquery.min.js"></script>
<script src="assets/popper.js/popper.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/swiper/js/swiper.min.js"></script>

<!--Internal JS-->
<script src="js/main.js"></script>

</body>
</html>