<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blogosfera | Inicio</title>

    <!--External fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coustard:900" rel="stylesheet">

    <!-- External CSS-->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="assets/ionicons/css/ionicons.min.css">

    <!--Internal CSS-->
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div class="site-wrapper">
    <div class="container p-0">
        <header>
            <section id="header-area">
                <div class="header-text">
                    <div>
                        <h1>BLOGOSFERA</h1>
                        <h2>CUBARTE</h2>
                    </div>
                </div>
            </section>
        </header>
    </div>
    <section id="navbar_sticky">
        <nav class="navbar navbar-expand-lg navbar-light bg-white container">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="ion-navicon-round"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>

            </div>
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#searchModal">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </nav>
    </section>
    <div id="container-site" class="container p-0 mt-5">
        <div id="scrollingDiv" class="d-flex flex-row justify-content-center flex-lg-column">
            <a class="ion-social-facebook mb-0 mr-5 mb-lg-2 mr-lg-0" href="#"></a>
            <a class="ion-social-twitter mb-0 mr-5 mb-lg-2 mr-lg-0" href="#"></a>
            <a class="ion-social-googleplus mb-0 mr-5 mb-lg-2 mr-lg-0" href="#"></a>
            <a class="ion-social-pinterest mb-0 mr-5 mb-lg-2 mr-lg-0" href="#"></a>
            <a class="ion-social-instagram-outline" href="#"></a>
        </div>
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="header-text">
                            <div>
                                <h1>BLOGOSFERA</h1>
                                <h2>CUBARTE</h2>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-lg border-dark" placeholder="Buscar..."
                                   aria-label="Buscar..." aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-outline-dark" type="button"><i
                                        class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <content>
            <section class="d-flex flex-column flex-lg-row no-gutters ads pl-1 pl-sm-0 pr-1 pr-sm-0">
                <div class="d-flex flex-column flex-md-row col-lg-8 no-gutters mr-lg-2 mb-2 mb-lg-0 ">
                    <div class="col-md-7 order-md-1">
                        <img class="img-fluid" src="img/big-card.jpg" alt="">
                    </div>
                    <div class="col-md-5 order-md-0 p-3 p-sm-2 big-ad-text align-self-sm-center">
                        <h4><a href="">Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit.</a>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aperiam at autem facere hic
                            molestias, nemo perspiciatis, quae quisquam repellendus soluta tenetur veritatis! Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit. Beatae, magni.</p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-sm-row flex-lg-column col-lg-4 no-gutters small-ads">
                    <div class="d-flex flex-column flex-lg-row no-gutters col-sm mb-2 mb-sm-0 mb-lg-2 mr-lg-0 mr-sm-2 ">
                        <div class="col-lg-4">
                            <img class="img-fluid" src="img/big-card.jpg" alt="">
                        </div>
                        <div class="d-flex col-lg p-3 pb-sm-0 pr-sm-0 pl-sm-1 pt-sm-1 pl-lg-2 pt-lg-0">
                            <h4 class="align-self-lg-center"><a href="">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</a></h4>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-lg-row no-gutters col-sm  mb-2 mb-sm-0 mb-lg-2 mr-lg-0 mr-sm-2">
                        <div class="col-lg-4">
                            <img class="img-fluid" src="img/big-card.jpg" alt="">
                        </div>
                        <div class="d-flex col-lg p-3 pb-sm-0 pr-sm-0 pl-sm-1 pt-sm-1 pl-lg-2 pt-lg-0">
                            <h4 class="align-self-lg-center"><a href="">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</a></h4>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-lg-row no-gutters col-sm">
                        <div class="col-lg-4">
                            <img class="img-fluid" src="img/big-card.jpg" alt="">
                        </div>
                        <div class="d-flex col-lg p-3 pb-sm-0 pr-sm-0 pl-sm-1 pt-sm-1 pl-lg-2 pt-lg-0">
                            <h4 class="align-self-lg-center"><a href="">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</a></h4>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="headline-section">
                    <div>
                        <h3>Blog Cubarte</h3>
                    </div>
                </div>
                <div class="content-section destacados">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="content-slide">
                                    <img class="img-fluid img-swiper" src="img/announce-h-1.jpg" alt="">
                                    <div class="text-slide">
                                        <h5>Cosita</h5>
                                        <h5 class="autor-slide pt-1"> Perez Perez</h5>
                                        <p class="fecha">25-02-2018</p>
                                        <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Consequatur
                                            deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                            quisquam.</p>
                                    </div>
                                    <a href="#" class="btn">Leer más</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content-slide">
                                    <img class="img-fluid img-swiper" src="img/announce-h-2.jpg" alt="">
                                    <div class="text-slide">
                                        <h5>Cosita</h5>
                                        <h5 class="autor-slide pt-1"> Perez Perez</h5>
                                        <p class="fecha">25-02-2018</p>
                                        <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Consequatur
                                            deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                            quisquam.</p>
                                    </div>
                                    <a href="#" class="btn">Leer más</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content-slide">
                                    <img class="img-fluid img-swiper" src="img/announce-h-1.jpg" alt="">
                                    <div class="text-slide">
                                        <h5>Cosita rica pero pquito ahi</h5>
                                        <h5 class="autor-slide pt-1"> Perez Perez</h5>
                                        <p class="fecha">25-02-2018</p>
                                        <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Consequatur
                                            deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                            quisquam.</p>
                                    </div>
                                    <a href="#" class="btn">Leer más</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content-slide">
                                    <img class="img-fluid img-swiper" src="img/announce-v-1.jpg" alt="">
                                    <div class="text-slide">
                                        <h5>Cosita</h5>
                                        <h5 class="autor-slide pt-1"> Perez Perez</h5>
                                        <p class="fecha">25-02-2018</p>
                                        <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Consequatur
                                            deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                            quisquam.</p>
                                    </div>
                                    <a href="#" class="btn">Leer más</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content-slide">
                                    <img class="img-fluid img-swiper" src="img/announce-h-1.jpg" alt="">
                                    <div class="text-slide">
                                        <h5>Cosita</h5>
                                        <h5 class="autor-slide pt-1"> Perez Perez</h5>
                                        <p class="fecha">25-02-2018</p>
                                        <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Consequatur
                                            deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                            quisquam.</p>
                                    </div>
                                    <a href="#" class="btn">Leer más</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content-slide">
                                    <img class="img-fluid img-swiper" src="img/announce-v-2.jpg" alt="">
                                    <div class="text-slide">
                                        <h5>Cosita</h5>
                                        <h5 class="autor-slide pt-1"> Perez Perez</h5>
                                        <p class="fecha">25-02-2018</p>
                                        <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Consequatur
                                            deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                            quisquam.</p>
                                    </div>
                                    <a href="#" class="btn">Leer más</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content-slide">
                                    <img class="img-fluid img-swiper" src="img/announce-h-1.jpg" alt="">
                                    <div class="text-slide">
                                        <h5>Cosita</h5>
                                        <h5 class="autor-slide pt-1"> Perez Perez</h5>
                                        <p class="fecha">25-02-2018</p>
                                        <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Consequatur
                                            deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                            quisquam.</p>
                                    </div>
                                    <a href="#" class="btn">Leer más</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content-slide">
                                    <img class="img-fluid img-swiper" src="img/announce-h-1.jpg" alt="">
                                    <div class="text-slide">
                                        <h5>Cosita</h5>
                                        <h5 class="autor-slide pt-1"> Perez Perez</h5>
                                        <p class="fecha">25-02-2018</p>
                                        <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Consequatur
                                            deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                            quisquam.</p>
                                    </div>
                                    <a href="#" class="btn">Leer más</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content-slide">
                                    <img class="img-fluid img-swiper" src="img/announce-h-1.jpg" alt="">
                                    <div class="text-slide">
                                        <h5>Cosita</h5>
                                        <h5 class="autor-slide pt-1"> Perez Perez</h5>
                                        <p class="fecha">25-02-2018</p>
                                        <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Consequatur
                                            deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                            quisquam.</p>
                                    </div>
                                    <a href="#" class="btn">Leer más</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content-slide">
                                    <img class="img-fluid img-swiper" src="img/announce-h-1.jpg" alt="">
                                    <div class="text-slide">
                                        <h5>Cosita</h5>
                                        <h5 class="autor-slide pt-1"> Perez Perez</h5>
                                        <p class="fecha">25-02-2018</p>
                                        <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit. Consequatur
                                            deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                            quisquam.</p>
                                    </div>
                                    <a href="#" class="btn">Leer más</a>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </section>
            <section>
                <div class="headline-section">
                    <div>
                        <h3>Publicaciones Recientes</h3>
                    </div>
                </div>
                <div class="d-flex flex-wrap no-gutters justify-content-center justify-content-md-around">
                    <div class="recent-card col-auto p-0 mb-5">
                        <div class="card" style="width: 19rem;">
                            <img class="card-img-top" src="img/slidder2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="fecha">Última actualización: 25-02-2018</p>
                                <h5><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci! </a>
                                </h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="recent-card col-auto p-0 mb-5">
                        <div class="card" style="width: 19rem;">
                            <img class="card-img-top" src="img/slidder1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="fecha">Última actualización: 25-02-2018</p>
                                <h5><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci! </a>
                                </h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="recent-card col-auto p-0 mb-5">
                        <div class="card" style="width: 19rem;">
                            <img class="card-img-top" src="img/announce-h-1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="fecha">Última actualización: 25-02-2018</p>
                                <h5><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci! </a>
                                </h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="recent-card col-auto p-0 mb-5">
                        <div class="card" style="width: 19rem;">
                            <img class="card-img-top" src="img/announce-h-2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="fecha">Última actualización: 25-02-2018</p>
                                <h5><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci! </a>
                                </h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="recent-card col-auto p-0 mb-5">
                        <div class="card" style="width: 19rem;">
                            <img class="card-img-top" src="img/slidder3.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="fecha">Última actualización: 25-02-2018</p>
                                <h5><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci! </a>
                                </h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="recent-card col-auto p-0 mb-5">
                        <div class="card" style="width: 19rem;">
                            <img class="card-img-top" src="img/big-card.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="fecha">Última actualización: 25-02-2018</p>
                                <h5><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci! </a>
                                </h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </content>



    </div>
</div>

<!--External JS-->
<script src="assets/jquery/jquery.min.js"></script>
<script src="assets/popper.js/popper.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/swiper/js/swiper.min.js"></script>

<!--Internal JS-->
<script src="js/main.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 5,
        centeredSlides: true,
        spaceBetween: 5,
        grabCursor: true,
        loop: true,
        autoplay: {
            delay: 10000,
            disableOnInteraction: false
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        },
        breakpoints: {
            1199: {
                slidesPerView: 3,
                spaceBetween: 3
            },
            992: {
                slidesPerView: 3,
                spaceBetween: 1
            },
            767: {
                centeredSlides: false,
                slidesPerView: 2,
                spaceBetween: 5
            },
            575: {
                centeredSlides: true,
                slidesPerView: 1,
                spaceBetween: 5
            }
        }
    });
</script>
</body>
</html>