<footer class="d-flex flex-column no-gutters">
    <div class="d-flex flex-wrap flex-row content-footer no-gutters justify-content-center justify-content-sm-start">
        <div class="col-10 col-sm-6 order col-lg-3 no-gutters own">
            <h6>CUBARTE</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quam quas quibusdam voluptate
                voluptatem.</p>
            <ul>
                <li class="mr-4"><a class="ion-social-facebook" href="#"></a></li>
                <li class="mr-4"><a class="ion-social-twitter" href="#"></a></li>
                <li class="mr-4"><a class="ion-social-googleplus" href="#"></a></li>
                <li class="mr-4"><a class="ion-social-pinterest" href="#"></a></li>
                <li><a class="ion-social-instagram-outline" href="#"></a></li>
            </ul>
        </div>
        <div class="col-10 col-sm-6 order-sm-1 col-lg-3 order-lg-0 no-gutters news">
            <h6>NOTICIAS</h6>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, saepe?</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio et facere hic nesciunt
                    nisi tenetur!
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem consectetur delectus
                    dicta enim exercitationem fugit hic, incidunt perspiciatis voluptate!
                </li>
            </ul>
        </div>
        <div class="col-10 col-sm-6 col-lg-3 no-gutters things">
            <h6>ETIQUETAS</h6>
            <a href="">Blogs</a>
            <a href="">Cubarte</a>
            <a href="">Musica</a>
            <a href="">Teatro</a>
            <a href="">Danza</a>
            <a href="">Cine</a>
            <a href="">Escuelas</a>
            <a href="">Diseño</a>
            <a href="">Cultura</a>
        </div>
{#        <div class="col-10 col-sm-6 order-sm-1 col-lg-3 order-lg-0 d-flex flex-wrap justify-content-center col no-gutters imagenes">#}
{#            <div class="img-container m-2 mt-0">#}
{#                <a href="#">#}
{#                    <img class="img-responsive img-footer" src="img/announce-h-1.jpg" alt="">#}
{#                </a>#}
{#            </div>#}
{#            <div class="img-container m-2 mt-0">#}
{#                <a href="#">#}
{#                    <img class="img-responsive img-footer" src="img/announce-h-1.jpg" alt="">#}
{#                </a>#}
{#            </div>#}
{#            <div class="img-container m-2 mt-0">#}
{#                <a href="#">#}
{#                    <img class="img-responsive img-footer" src="img/announce-h-1.jpg" alt="">#}
{#                </a>#}
{#            </div>#}
{#            <div class="img-container m-2 mt-0">#}
{#                <a href="#">#}
{#                    <img class="img-responsive img-footer" src="img/announce-h-1.jpg" alt="">#}
{#                </a>#}
{#            </div>#}
{#            <div class="img-container m-2 mt-0">#}
{#                <a href="#">#}
{#                    <img class="img-responsive img-footer" src="img/announce-h-1.jpg" alt="">#}
{#                </a>#}
{#            </div>#}
{#            <div class="img-container m-2 mt-0">#}
{#                <a href="#">#}
{#                    <img class="img-responsive img-footer" src="img/announce-h-1.jpg" alt="">#}
{#                </a>#}
{#            </div>#}
{##}
{#        </div>#}
    </div>
    <div class="copyright">
        <div class="cr-left">
            <p>&copy; 2018</p>
        </div>
        <div class="cr-right">
            <p>Diseñado por Cubarte</p>
        </div>
    </div>
</footer>

