{% load staticfiles %}
<div class="col-lg-3 pl-lg-3">
                        <div class="d-flex flex-column flex-sm-wrap-reverse flex-lg-nowrap right-side">
                            <div class="h-ad col-12 col-sm-6 col-lg-12 pr-2 pl-2 pr-sm-0 pl-lg-0">
                                <a href="#">

                                    <img src={% static "/theme-2018/img/prioridades.jpg" %} alt="">
                                </a>
                            </div>
                            <div class="h-ad col-12 col-sm-6 col-lg-12 pr-2 pl-2 pr-sm-0 pl-lg-0">
                                <a href="#">
                                    <img src={% static "/theme-2018/img/prioridades.jpg"%} alt="">
                                </a>
                            </div>

                            <div class="right-info order-sm-last order-lg-0 col-12 col-sm-6 col-lg-12">
                                <div class="mb-4">
                                    <h6 class="text-center">Actualidad</h6>
                                </div>
                                <div>
                                    <div class="d-flex no-gutters mb-3">
                                        <div class="col-5">
                                            <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg"
                                                                              alt=""></a>
                                        </div>
                                        <div class="d-flex col-lg align-items-center pl-3 pl-sm-2 right-info-text">
                                            <p class="align-self-lg-center"><a href="">Esto esta en las noticias</a></p>
                                        </div>
                                    </div>
                                    <div class="d-flex no-gutters mb-3">
                                        <div class="col-5">
                                            <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg"
                                                                              alt=""></a>
                                        </div>
                                        <div class="d-flex col-lg align-items-center pl-3 pl-sm-2 right-info-text">
                                            <p class="align-self-lg-center"><a href="">Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit.</a></p>
                                        </div>
                                    </div>
                                    <div class="d-flex no-gutters mb-3">
                                        <div class="col-5">
                                            <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg"
                                                                              alt=""></a>
                                        </div>
                                        <div class="d-flex col-lg align-items-center pl-3 pl-sm-2 right-info-text">
                                            <p class="align-self-lg-center"><a href="">Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit.</a></p>
                                        </div>
                                    </div>
                                    <div class="d-flex no-gutters mb-3">
                                        <div class="col-5">
                                            <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg"
                                                                              alt=""></a>
                                        </div>
                                        <div class="d-flex col-lg align-items-center pl-3 pl-sm-2 right-info-text">
                                            <p class="align-self-lg-center"><a href="">Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit.</a></p>
                                        </div>
                                    </div>
                                    <div class="d-flex no-gutters">
                                        <div class="col-5">
                                            <a class="img-fluid" href=""><img class="img-fluid" src="img/big-card.jpg"
                                                                              alt=""></a>
                                        </div>
                                        <div class="d-flex col-lg align-items-center pl-3 pl-sm-2 right-info-text">
                                            <p class="align-self-lg-center"><a href="">Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit.</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="v-ad col-12 col-sm-6 col-lg-12 pr-2 pl-2 pr-sm-0 pl-lg-0">
                                <a href="#">
                                    <img src="img/announce-v-3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>