<section>
    <div class="headline-section">
        <div>
            <h3>{{ blog.title }}</h3>
        </div>
    </div>
    <div class="content-section destacados">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="content-slide">
                        <img class="img-fluid img-swiper" src="img/announce-h-1.jpg" alt="">
                        <div class="text-slide">
                            <h5>Cosita</h5>
                            <h5 class="autor-slide pt-1"> Perez Perez</h5>
                            <p class="fecha">25-02-2018</p>
                            <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Consequatur
                                deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                quisquam.</p>
                        </div>
                        <a href="#" class="btn">Leer más</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-slide">
                        <img class="img-fluid img-swiper" src="img/announce-h-2.jpg" alt="">
                        <div class="text-slide">
                            <h5>Cosita</h5>
                            <h5 class="autor-slide pt-1"> Perez Perez</h5>
                            <p class="fecha">25-02-2018</p>
                            <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Consequatur
                                deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                quisquam.</p>
                        </div>
                        <a href="#" class="btn">Leer más</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-slide">
                        <img class="img-fluid img-swiper" src="img/announce-h-1.jpg" alt="">
                        <div class="text-slide">
                            <h5>Cosita rica pero pquito ahi</h5>
                            <h5 class="autor-slide pt-1"> Perez Perez</h5>
                            <p class="fecha">25-02-2018</p>
                            <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Consequatur
                                deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                quisquam.</p>
                        </div>
                        <a href="#" class="btn">Leer más</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-slide">
                        <img class="img-fluid img-swiper" src="img/announce-v-1.jpg" alt="">
                        <div class="text-slide">
                            <h5>Cosita</h5>
                            <h5 class="autor-slide pt-1"> Perez Perez</h5>
                            <p class="fecha">25-02-2018</p>
                            <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Consequatur
                                deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                quisquam.</p>
                        </div>
                        <a href="#" class="btn">Leer más</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-slide">
                        <img class="img-fluid img-swiper" src="img/announce-h-1.jpg" alt="">
                        <div class="text-slide">
                            <h5>Cosita</h5>
                            <h5 class="autor-slide pt-1"> Perez Perez</h5>
                            <p class="fecha">25-02-2018</p>
                            <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Consequatur
                                deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                quisquam.</p>
                        </div>
                        <a href="#" class="btn">Leer más</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-slide">
                        <img class="img-fluid img-swiper" src="img/announce-v-2.jpg" alt="">
                        <div class="text-slide">
                            <h5>Cosita</h5>
                            <h5 class="autor-slide pt-1"> Perez Perez</h5>
                            <p class="fecha">25-02-2018</p>
                            <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Consequatur
                                deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                quisquam.</p>
                        </div>
                        <a href="#" class="btn">Leer más</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-slide">
                        <img class="img-fluid img-swiper" src="img/announce-h-1.jpg" alt="">
                        <div class="text-slide">
                            <h5>Cosita</h5>
                            <h5 class="autor-slide pt-1"> Perez Perez</h5>
                            <p class="fecha">25-02-2018</p>
                            <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Consequatur
                                deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                quisquam.</p>
                        </div>
                        <a href="#" class="btn">Leer más</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-slide">
                        <img class="img-fluid img-swiper" src="img/announce-h-1.jpg" alt="">
                        <div class="text-slide">
                            <h5>Cosita</h5>
                            <h5 class="autor-slide pt-1"> Perez Perez</h5>
                            <p class="fecha">25-02-2018</p>
                            <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Consequatur
                                deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                quisquam.</p>
                        </div>
                        <a href="#" class="btn">Leer más</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-slide">
                        <img class="img-fluid img-swiper" src="img/announce-h-1.jpg" alt="">
                        <div class="text-slide">
                            <h5>Cosita</h5>
                            <h5 class="autor-slide pt-1"> Perez Perez</h5>
                            <p class="fecha">25-02-2018</p>
                            <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Consequatur
                                deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                quisquam.</p>
                        </div>
                        <a href="#" class="btn">Leer más</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-slide">
                        <img class="img-fluid img-swiper" src="img/announce-h-1.jpg" alt="">
                        <div class="text-slide">
                            <h5>Cosita</h5>
                            <h5 class="autor-slide pt-1"> Perez Perez</h5>
                            <p class="fecha">25-02-2018</p>
                            <p class="swiper-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Consequatur
                                deleniti eligendi fugiat iste itaque minus modi nam, placeat quis
                                quisquam.</p>
                        </div>
                        <a href="#" class="btn">Leer más</a>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>